<section id="left-part">
    <!-- LEFT SIDE -->
    <div class="resume-left">
        {{#if resume.basics.summary}}
        <div class="summary">{{resume.basics.summary}}</div>
        {{/if}}

        <div class="section">
            <div class="section-divider"></div>
            <h2>Contact</h2>
            {{#if resume.basics.location.city}}
            <div class="contact-item">
                <i class="ri-home-4-line contact-icon" style="color:#4CAF50;"></i>
                {{resume.basics.location.city}}
            </div>
            {{/if}}
            <div class="contact-item">
                <i class="ri-mail-line contact-icon" style="color:#D44638;"></i>
                {{resume.basics.email}}
            </div>
            {{#if resume.basics.profiles.[0].url}}
            <div class="contact-item">
                <i class="ri-linkedin-box-line contact-icon" style="color:#0077B5;"></i>
                <a href="{{resume.basics.profiles.[0].url}}" target="_blank">{{resume.basics.profiles.[0].url}}</a>
            </div>
            {{/if}}
        </div>

        <div class="section-divider"></div>
        {{> skills}}

        <div class="section">
            <div class="section-divider"></div>
            <h2>Langues</h2>
            {{#each resume.languages}}
            <div>
                <b>{{name}}</b>{{#if value}} <span class="fdim">{{langFormat value}}</span>{{/if}}
            </div>
            {{/each}}
        </div>

        <div class="section">
            <h2>Formations</h2>
            {{#each resume.education}}
            <div>
                <b>{{studyType}}</b><br>
                <span>{{institution}} - {{#if endDate}}{{formatYear endDate}}{{/if}}</span>
            </div>
            <br/>
            {{/each}}
        </div>

        <div class="section">
            <div class="section-divider"></div>
            <h2>Centres d'intérêt</h2>
            {{#each resume.interests}}
            <div>{{name}}</div>
            {{/each}}
        </div>
        {{!--
        <div class="section">
            <h2>Compétences</h2>
            <ul class="skills">
                {{#each resume.skills}}
                <li>{{name}}</li>
                {{/each}}
            </ul>
        </div> --}}
    </div>

</section>