<section id="left-part">
    <!-- LEFT SIDE -->
    <div class="resume-left">
        <div class="resume-left-container">
            {{#if resume.basics.summary}}
            <div class="summary">{{pre resume.basics.summary}}</div>
            {{/if}}
            {{!-- CONTACT --}}
            <div class="section">
                <div class="section-divider"></div>
                <h2>{{ resume.basics.contact.name }}</h2>
                {{#if resume.basics.contact.location.city}}
                <div class="contact-item">
                    <i class="ri-home-4-line contact-icon" style="color:#4CAF50;"></i>
                    {{resume.basics.contact.location.city}}
                </div>
                {{/if}}
                <div class="contact-item">
                    <i class="ri-mail-line contact-icon" style="color:#D44638;"></i>
                    {{resume.basics.contact.email}}
                </div>
                {{#if resume.basics.contact.profiles.[0].url}}
                <div class="contact-item">
                    <i class="ri-linkedin-box-line contact-icon" style="color:#0077B5;"></i>
                    <a href="{{resume.basics.contact.profiles.[0].url}}" target="_blank">{{resume.basics.contact.profiles.[0].url}}</a>
                </div>
                {{/if}}
            </div>
            {{!-- SKILLS --}}
            <div class="section-divider"></div>
            {{> skills}}
            {{!-- LANGUAGES --}}
            <div class="section-divider"></div>
            <div class="section">
                <h2>{{ resume.languages.name }}</h2>
                {{#each resume.languages.list}}
                <div>
                    <b>{{name}}</b>{{#if value}} <span class="fdim">{{langFormat value}}</span>{{/if}}
                </div>
                {{/each}}
            </div>
            {{!-- TRAINING --}}
            <div class="section-divider"></div>
            <div class="section">
                <h2>{{ resume.training.name }}</h2>
                <div class="skills-list">
                {{#each resume.training.list}}
                    <div>
                        <b>{{studyType}}</b><br>
                        <span>{{institution}} - {{#if endDate}}{{formatYear endDate}}{{/if}}</span>
                    </div>
                {{/each}}
                </div>  
            </div>
            {{!-- INTERESTS --}}
            <div class="section-divider"></div>
            <div class="section">
                <h2>{{ resume.interests.name }}</h2>
                {{#each resume.interests.list}}
                <div>{{name}}</div>
                {{/each}}
            </div>
        </div>
    </div>
</section>